@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->

        <div>
            <h3>Some Popover Examples</h3>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="popover" data-trigger="click" data-html="true" data-placement="bottom"
                title="Click-triggered Popover"
                data-content="<p class='text-muted'>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of <strong>dynamic</strong> content in a hover-triggered popover<p>">
            Click
        </button>

        <button type="button" class="btn btn-secondary btn-sm" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom"
                title="Focus-triggered Popover"
                data-content="<p class='text-muted'>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of <strong>dynamic</strong> content in a hover-triggered popover<p>">
            Focus
        </button>

        <button type="button" class="btn btn-secondary btn-sm" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="Basic Hover-triggered Popover"
                data-content="<p class='text-muted'>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of <strong>dynamic</strong> content in a hover-triggered popover<p>">
            Basic Hover
        </button>

        <button type="button" class="btn btn-primary btn-sm pop" data-toggle="popover" data-html="true" data-placement="bottom"
                title="Advanced Hover-triggered Popover"
                data-content="<p class='text-muted'>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of <strong>dynamic</strong> content in a hover-triggered popover<p>">
            Advanced Hover
        </button>
    </div>
