@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" data-trigger="click" data-html="true" data-placement="bottom"
                title="Click-triggered Popover"
                data-content="<p>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of dynamic content in a hover-triggered popover<p>">
            Click Popover
        </button>

        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom"
                title="Focus-triggered Popover"
                data-content="<p>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of dynamic content in a hover-triggered popover<p>">
            Focus Popover
        </button>

        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="Basic Hover-triggered Popover"
                data-content="<p>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of dynamic content in a hover-triggered popover<p>">
            Hover Popover 1
        </button>

        <button type="button" class="btn btn-lg btn-danger pop" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="Advanced Hover-triggered Popover"
                data-content="<p>This is an example of <strong>static</strong> content.</p><p>Go to <a href='/Movies/Index'>RpMovie</a> page for an example of dynamic content in a hover-triggered popover<p>">
            Hover Popover 2
        </button>
    </div>
